{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:promise/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "import",
    "promise",
    "react",
    "react-hooks"
  ],
  "globals": {
    "globalThis": false
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": [
      "error",
      "always"
    ],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error"
    ],
    "indent": [
      "error",
      2,
      {
        "VariableDeclarator": "first",
        "FunctionDeclaration": {
          "parameters": "first"
        },
        "CallExpression": {
          "arguments": "first"
        },
        "ArrayExpression": 1,
        "ObjectExpression": 1,
        "SwitchCase": 1
      }
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "object-curly-spacing": [
      "error",
      "always",
      {
        "objectsInObjects": false,
        "arraysInObjects": false
      }
    ],
    "computed-property-spacing": [
      "error",
      "never"
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "no-console": "off",
    "promise/no-nesting": "off",
    "promise/always-return": "off",
    "promise/catch-or-return": "off",
    "promise/no-promise-in-callback": "off",
    "import/no-unresolved": [
      2,
      {
        "commonjs": true,
        "amd": true
      }
    ],
    "strict": [
      "error",
      "global"
    ],
    "curly": "warn"
  },
  "settings": {
    "react": {
      "version": "16.13"
    },
    "node": {
      "tryExtensions": [
        ".js",
        ".jsx",
        ".ts",
        ".tsx",
        ".css",
        ".scss"
      ]
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".css",
          ".scss"
        ]
      }
    }
  }
}
